<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
    <%= f.input :gmaps %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
